@import 'src/components/button/button-style';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans';
}

#app {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

#content {
  margin: 20px;
}
