#app {
  color: white;
  background-color: #272822;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#content {
  margin: 20px;
}

#header {
  text-align: center;
  #logo {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
}

#info {
  margin: 20px;
  padding: 10px;
  &.success {
    background-color: #28a745;
  }
  &.error {
    background-color: #d9534f;
  }
  &.warning {
    background-color: #c37100;
  }
  &.info {
    background-color: #337ab7;
  }
}

small.info {
  font-style: italic;
}

label {
  border-left: 1px solid white;
  padding-left: 10px;
  display: inline-block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"] {
  display: block;
  width: 100%;
}

h3 {
  margin-bottom: 4px;
}

.sortable-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  user-select: none;
  color: #272822;
  max-height: 200px;
  overflow-y: scroll;
}

.sortable-item {
  cursor: pointer;
  border-bottom: 1px solid #272822;
  padding: 10px 10px;
}