#app {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

#content {
  margin: 20px;
}

#info {
  margin: 20px;
  padding: 10px;
  &.success {
    background-color: #28A745;
  }
  &.error {
    background-color: #D9534F;
  }
  &.warning {
    background-color: #C37100;
  }
  &.info {
    background-color: #5BC0DE;
  }
}
