#app {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#content {
  margin: 20px;
}

#header {
  text-align: center;
  #logo {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
}

#info {
  margin: 20px;
  padding: 10px;
  &.success {
    background-color: #28A745;
  }
  &.error {
    background-color: #D9534F;
  }
  &.warning {
    background-color: #C37100;
  }
  &.info {
    background-color: #337AB7;
  }
}

small.info {
  font-style: italic;
}

label {
  border-left: 1px solid white;
  padding-left: 10px;
  display: inline-block;
  margin-top: 10px;
}

input[type="text"], input[type="number"] {
  display: block;
  width: 100%;
}

h3 {
  margin-bottom: 4px;
}
