.button {
  color: white;
  font-weight: bold;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  margin: 6px;
  &.info {
    background-color: #007bff;
    &:enabled:hover {
      background-color: #0069d9;
    }
  }
  &.success {
    background-color: #28a745;
    &:enabled:hover {
      background-color: #218838;
    }
  }
}
.button:disabled {
  opacity: 0.65;
}
