$fa-font-path: '../../node_modules/font-awesome/fonts';
@import '../../node_modules/font-awesome/scss/font-awesome';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans';
}
